Repository gammapy/gammapy, pull requests merged in 2021-03, with the labels that each got.

#3255 Add support for axis name in Map.pad()
  gammapy/maps/core.py
  gammapy/maps/geom.py
  gammapy/maps/hpx.py
  gammapy/maps/hpxnd.py
  gammapy/maps/region.py
  gammapy/maps/regionnd.py
  gammapy/maps/tests/test_geom.py
  gammapy/maps/tests/test_hpxmap.py
  gammapy/maps/tests/test_region.py
  gammapy/maps/tests/test_wcs.py
  gammapy/maps/tests/test_wcsnd.py
  gammapy/maps/wcs.py
  gammapy/maps/wcsnd.py
Labels: feature

#3252 Correct fractional excess variance formula according to reference
  gammapy/stats/variability.py
Labels: bug, docs

#3257 Remove code duplication in EDispMap.to_edisp_kernel_map()
  gammapy/irf/edisp_map.py
  gammapy/irf/psf/tests/test_psf_map.py
  gammapy/maps/core.py
Labels: cleanup

#3261 Move and extend mask tutorial
  docs/tutorials/index.rst
  docs/tutorials/mask_maps.ipynb
Labels: docs

#3254 Add .mailmap
  .mailmap
Labels: infrastructure

#3262 Cleanup maps tutorial and rst page
  docs/maps/index.rst
  docs/tutorials/maps.ipynb
  docs/tutorials/mask_maps.ipynb
Labels: cleanup, docs

#3270 Minor changes in spatial models docstring
  gammapy/modeling/models/spatial.py
Labels: docs

#3216 Add a notebook to explain model management
  docs/datasets/stack.rst
  docs/modeling/index.rst
  docs/tutorials/fitting.ipynb
  docs/tutorials/index.rst
  docs/tutorials/model_management.ipynb
  docs/tutorials/models.ipynb
Labels: docs, priority-high

#3258 Add support for RegionGeom to MapDataset
  docs/tutorials/light_curve.ipynb
  gammapy/datasets/map.py
  gammapy/datasets/spectrum.py
  gammapy/datasets/tests/test_map.py
  gammapy/estimators/tests/test_flux.py
  gammapy/irf/core.py
  gammapy/irf/edisp_map.py
  gammapy/irf/psf/psf_map.py
  gammapy/makers/map.py
  gammapy/makers/tests/test_spectrum.py
  gammapy/maps/region.py
  gammapy/maps/regionnd.py
  gammapy/maps/tests/test_region.py
  gammapy/maps/wcsnd.py
  gammapy/utils/integrate.py
Labels: feature

#3274 Remove background model notebook
  docs/tutorials/background_model.ipynb
  docs/tutorials/fitting.ipynb
  docs/tutorials/index.rst
  docs/tutorials/model_management.ipynb
  docs/tutorials/modeling_2D.ipynb
Labels: cleanup, docs

#3276 Group tutorials files in category folders
  .gitignore
  docs/_downloads/notebooks-dev.tar
  docs/datasets/stack.rst
  docs/maps/index.rst
  docs/maps/regionmap.rst
  docs/tutorials/analysis/1D/cta_sensitivity.ipynb
  docs/tutorials/analysis/1D/extended_source_spectral_analysis.ipynb
  docs/tutorials/analysis/1D/sed_fitting.ipynb
  docs/tutorials/analysis/1D/spectral_analysis.ipynb
  docs/tutorials/analysis/1D/spectrum_simulation.ipynb
  docs/tutorials/analysis/2D/detect.ipynb
  docs/tutorials/analysis/2D/modeling_2D.ipynb
  docs/tutorials/analysis/2D/ring_background.ipynb
  docs/tutorials/analysis/3D/analysis_3d.ipynb
  docs/tutorials/analysis/3D/analysis_mwl.ipynb
  docs/tutorials/analysis/3D/cta_data_analysis.ipynb
  docs/tutorials/analysis/3D/event_sampling.ipynb
  docs/tutorials/analysis/3D/mcmc_sampling.ipynb
  docs/tutorials/analysis/3D/simulate_3d.ipynb
  docs/tutorials/analysis/time/light_curve.ipynb
  docs/tutorials/analysis/time/light_curve_flare.ipynb
  docs/tutorials/analysis/time/light_curve_simulation.ipynb
  docs/tutorials/analysis/time/pulsar_analysis.ipynb
  docs/tutorials/api/astro_dark_matter.ipynb
  docs/tutorials/api/catalog.ipynb
  docs/tutorials/api/fitting.ipynb
  docs/tutorials/api/maps.ipynb
  docs/tutorials/api/mask_maps.ipynb
  docs/tutorials/api/model_management.ipynb
  docs/tutorials/api/models.ipynb
  docs/tutorials/data/cta.ipynb
  docs/tutorials/data/fermi_lat.ipynb
  docs/tutorials/data/hess.ipynb
  docs/tutorials/index.rst
  docs/tutorials/starting/analysis_1.ipynb
  docs/tutorials/starting/analysis_2.ipynb
  docs/tutorials/starting/overview.ipynb
  examples/models/spatial/plot_shell2.py
  gammapy/data/data_store.py
  gammapy/maps/core.py
  gammapy/modeling/models/spatial.py
  gammapy/scripts/jupyter.py
  gammapy/utils/notebooks_links.py
  gammapy/utils/notebooks_process.py
Labels: cleanup, docs

#3277 Change Estimator optional default selection
  docs/tutorials/analysis/1D/spectral_analysis.ipynb
  docs/tutorials/analysis/2D/detect.ipynb
  docs/tutorials/analysis/time/pulsar_analysis.ipynb
  gammapy/analysis/config.py
  gammapy/estimators/excess_map.py
  gammapy/estimators/excess_profile.py
  gammapy/estimators/flux.py
  gammapy/estimators/flux_point.py
  gammapy/estimators/lightcurve.py
  gammapy/estimators/parameter.py
  gammapy/estimators/tests/test_excess_map.py
  gammapy/estimators/tests/test_excess_profile.py
  gammapy/estimators/tests/test_flux.py
  gammapy/estimators/tests/test_flux_point_estimator.py
  gammapy/estimators/tests/test_lightcurve.py
  gammapy/estimators/tests/test_parameter_estimator.py
  gammapy/estimators/tests/test_ts_map.py
  gammapy/estimators/ts_map.py
Labels: cleanup

#3279 Improve visibility of models gallery
  docs/getting-started.rst
  docs/index.rst
  docs/modeling/index.rst
  docs/overview.rst
  docs/tutorials/index.rst
Labels: docs

#3280 Add figures to illustrate background methods
  docs/_static/hgps_map_background_estimation.png
  docs/_static/hgps_spectrum_background_estimation.png
  docs/makers/reflected.rst
  docs/makers/ring.rst
  docs/references.rst
Labels: docs

#3284 fixing Matplotlib deprecation of nonposx
  gammapy/estimators/flux_point.py
Labels: cleanup

#3278 Extend documentation of quantities returned by estimators
  docs/estimators/index.rst
Labels: docs

#3275 Cleanup FluxMaps a little bit
  gammapy/estimators/core.py
  gammapy/estimators/flux_map.py
  gammapy/estimators/tests/test_flux_map.py
  gammapy/modeling/models/spectral.py
Labels: cleanup

#3272 Add SourceCatalog.to_models() and improve models selection from catalogues
  gammapy/catalog/core.py
  gammapy/catalog/hess.py
  gammapy/catalog/tests/test_core.py
  gammapy/catalog/tests/test_fermi.py
  gammapy/catalog/tests/test_hawc.py
  gammapy/catalog/tests/test_hess.py
  gammapy/modeling/models/core.py
  gammapy/modeling/models/cube.py
  gammapy/modeling/models/tests/test_core.py
  gammapy/modeling/models/tests/test_cube.py
  gammapy/modeling/models/tests/test_management.py
  gammapy/modeling/models/tests/test_spectral.py
Labels: feature

#3287 Remove detect subpage from docs
  docs/estimators/detect.rst
  docs/estimators/index.rst
Labels: cleanup, docs

#3288 Remove data formats page in dev docs.
  docs/development/dataformats.rst
  docs/development/index.rst
Labels: cleanup, docs
