Repository gammapy/gammapy, pull requests merged in 2022-08, with the labels that each got.

#4048 Corrected WStat documentation
  docs/user-guide/stats/index.rst
Labels: docs

#4042 Fix the plot height when there is a color bar in Background.plot_at_energy()
  gammapy/irf/background.py
Labels: bug, effort-low

#4049 Clarify lightcurve documentation
  docs/tutorials/analysis/time/light_curve.ipynb
  gammapy/estimators/points/lightcurve.py
Labels: cleanup, docs

#4047 Closing of contours
  gammapy/visualization/tests/test_utils.py
  gammapy/visualization/utils.py
Labels: feature
