Repository gammapy/gammapy, pull requests merged in 2024-08, with the labels that each got.

#5414 Update conf.py tu support sphinx 8
  docs/conf.py
Labels: infrastructure, docs, backport-v1.0.x, backport-v1.2.x

#5415 Backport PR #5414 on branch v1.0.x (Update conf.py tu support sphinx 8)
  docs/conf.py
Labels: infrastructure, docs, backport-v1.0.x, backport-v1.2.x

#5412 Adjust counts type in fake
  gammapy/datasets/map.py
  gammapy/datasets/tests/test_map.py
Labels: backport-v1.2.x

#5180 Raise error on invalid input shape in Map
  gammapy/astro/darkmatter/spectra.py
  gammapy/catalog/fermi.py
  gammapy/datasets/tests/test_map.py
  gammapy/estimators/points/core.py
  gammapy/irf/core.py
  gammapy/makers/utils.py
  gammapy/maps/core.py
  gammapy/maps/hpx/ndmap.py
  gammapy/maps/region/ndmap.py
  gammapy/maps/region/tests/test_ndmap.py
  gammapy/maps/tests/test_core.py
  gammapy/maps/utils.py
  gammapy/maps/wcs/tests/test_ndmap.py
Labels: bug, feature, cleanup, backport-v1.2.x

#5416 Backport PR #5414 on branch v1.2.x (Update conf.py tu support sphinx 8)
  docs/conf.py
Labels: infrastructure, docs, backport-v1.0.x, backport-v1.2.x

#5418 Backport PR #5412 on branch v1.2.x (Adjust counts type in fake)
  gammapy/datasets/map.py
  gammapy/datasets/tests/test_map.py
Labels: backport-v1.2.x

#5419 Backport PR #5180 on branch v1.2.x (Raise error on invalid input shape in Map)
  gammapy/astro/darkmatter/spectra.py
  gammapy/catalog/fermi.py
  gammapy/datasets/tests/test_map.py
  gammapy/estimators/points/core.py
  gammapy/irf/core.py
  gammapy/makers/utils.py
  gammapy/maps/core.py
  gammapy/maps/hpx/ndmap.py
  gammapy/maps/region/ndmap.py
  gammapy/maps/region/tests/test_ndmap.py
  gammapy/maps/tests/test_core.py
  gammapy/maps/utils.py
  gammapy/maps/wcs/tests/test_ndmap.py
Labels: bug, feature, cleanup, backport-v1.2.x

#5421 Update of the Dark Matter main documentation page
  docs/user-guide/astro/darkmatter/index.rst
Labels: cleanup, docs
